@model RunGroupWebApp.ViewModels.DashboardViewModel

<h1 class="display-4 fw-normal">User Dashboard</h1>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Club" asp-action="Create">Create Club</a>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Race" asp-action="Create">Create Race</a>
<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="display-4 fw-normal">Your Races</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach(var item in Model.Races)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap" /> 
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em" >Thumbnail</text>
                    
                    <div class="card-body">
                        <p class="card-text">This is a wade card with supporting text....</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="tbn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div> 
                    </div>
                    </div>
                </div>
            }
    </div>
</div>